.bg-auth {
background-size: cover;
background: url('../../img/signupbg.jpg') no-repeat center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
.authorization {
padding-top:150px;

}
.authorization p{
height:32px;
padding-top:8px;
}
.authorization a{
text-decoration:underline;
}
.authorization-form {
background: #ffffff;
padding: 0 30px 50px 30px;
}
.authorization  label {
padding-top: 5px;
}
.authorization .pad-lr-0 {
padding-left: 0 !important;
padding-right: 0 !important;
}
.authorization .input-group .form-control {
margin-bottom:10px;
}


