html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body,div,h1 {font-family:'trebuchet ms', verdana, arial;margin:0;padding:0;}
body {background-color:#fff;color:#333;margin:0;padding:0;}
h1,h2 {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;margin:0;}
h1 {font-size:large;font-weight:400;}
h2 {color:#333;font-size:small;font-weight:400;}
h3 {color:#444;}
kbd {margin:0px 0.1em; padding:0.1em 0.6em;border-radius: 3px;border: 1px solid rgb(204, 204, 204);color: rgb(51, 51, 51);line-height: 1.4;font-family: Arial,Helvetica,sans-serif;font-size: 10px;display: inline-block;box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;background-color: rgb(247, 247, 247);-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;-moz-border-radius: 3px;-webkit-border-radius: 3px;text-shadow: 0 1px 0 #fff;}
.demo {width:600px;margin:20px auto;}
.demo h1,.demo h1 a {font-size:120%;text-align:center;text-decoration:none;color:#000;}
.demo p,.center {text-align:center;}
.demo table.tablesorter {font-size:14px;}
table th {vertical-align:top;}
#config th {text-shadow:none;}
table td.info { background: #eee; }
table.info {border:#000 1px solid;border-collapse:collapse;margin:10px 0 0 10px;}
table.tablesorter table.info tbody th,table.tablesorter table.info td {border:#000 1px solid;}
table.tablesorter table.info tbody th {background:#eee;}
table.options {width:100%;}
table.options pre {width:95%;}
table.options .property, .setwidth {width:115px;}
table.options .type {width:100px; }
table.options .defaults {width:160px;}
table.options .examples {width:60px;}
table.options thead th:nth-child(1) { width: 1%; }
table.options thead .defaults { width: 1%; }
table.compatibility { width: 50%; float: right; font-size: .8em; margin-left: 20px; }
table.compatibility th,table.compatibility td { text-align: center; padding: 2px; }
pre,#display {overflow-x:auto;padding:15px;border:1px solid #ddd;border-left-width:5px;}
pre.lang-js, pre.lang-javascript {border-left-color: #f1bf26;}
pre.lang-html {border-left-color: #ef6328;}
pre.lang-css {border-left-color: #27aae2;}
pre,#display {background-color:#eee;font-size:small;list-style:none;}
pre.prettyprint {padding:5px; white-space: pre-wrap; word-break: break-all; }
code {background-color: #e6e6e6; padding: 1px 5px;}
a code {text-decoration:underline;}
pre.normal {background-color:transparent;border:none;border-left-width:0;overflow-x:auto;}
#logo {background:url(images/jq.png);display:block;float:right;height:31px;margin-right:10px;margin-top:10px;width:110px;}
#main {margin:0 20px 20px;padding:0 15px 15px 0;clear:both;}
#content {padding:20px;}
#busy {background-color:#e95555;border:1px ridge #ccc;color:#eee;display:none;padding:3px;position:absolute;right:7px;top:7px;}
#start,#case,.bright {color:#007baa;}
#demo strong {color:#a00;}
hr {height:1px;}
ul {list-style:square;padding-left:20px;}
#banner {margin:20px 20px 5px 20px;padding:0;text-align:left;}
#banner *,.demo h1,.demo h1 em {color:#232121;font-family:Georgia, Palatino, Times New Roman;font-size:30px;font-style:normal;font-weight:400;margin:0;padding:0;}
#banner h1 {display:block;float:left;}
#banner h1 em,.demo h1 em {color:#6cf;}
#banner h2 {float:right;font-size:26px;margin:10px 10px -10px -10px;}
#root #banner h2 { margin-right: 100px; }
#banner h3 {clear:both;display:block;font-size:12px;margin-top:-20px;border-bottom:1px solid #888;}
#banner a {display:block;font-size:14px;margin:5px 0 0;padding:10px 0 0;float:right;}
.github-btn {border:0;overflow:hidden;vertical-align: middle;}
a.external {background-image:url(../img/external.png);background-position:center right;background-repeat:no-repeat;padding-right:12px;}
a.link {background-image:url(../img/link.png);background-position:center right;background-repeat:no-repeat;padding-right:12px;}
form {font-size:10pt;margin-bottom:20px;width:auto;}
form fieldset {padding:10px;text-align:left;width:140px;}
div#main h1 {border-bottom:1px solid #cdcdcd;display:block;padding:4px 0 2px;}
table#tablesorter-demo {margin: 10px 0 0 0;}
table, p.small,.smallcode code {font-size:small;}
p.small {padding-left: 25px;}
.xsmall {font-size:11px;}
p.tip em, div.tip em,.label-info {padding: 2px; background-color: #5bc0de; color: #fff; border-radius: .25em;}
.label { padding: 0.1em 0.6em 0.1em; font-size: 75%; color: #fff; border-radius: .25em; }
span.tip em, .label-success, .version .label-success { background-color: #2b7e7e; } /*5cb85c*/
.older .label-success { background-color: #8eCe8e; }
span.tip.old em, .label-default { background-color: #999; }
span.warning { background-color: #f0ad4e; } /* orange */
span.warn em, .label.alert { background-color: #d9534f; } /* red */
.label.warning { background-color: #f0ad4e; }
tr td.lookhere, span.lookhere { background-color: rgba(230,191,153,0.5); }
div.ui-slider .ui-slider-handle { width: 0.8em; height: 0.8em; }
.next-up { padding-top: 10px; font-size: 90%; }
.narrow-block { width: 50%; margin: 50px auto; }
.spacer { height: 800px; }
.halfspacer { height: 400px; }
.right { text-align:right; }
#pager-demo th.remove { width: 20px; } /* pager demo */
#pager-demo button.remove { width: 20px; height: 20px; font-size: 10px; color: #800; }
.box { width: 50%; min-width: 300px; float: left; padding: 1%; }
a.alert, a.permalink.alert { color: #a00; padding: 0; }
span.alert { padding: 1px 3px; }
.hidden { display: none; }
.fade { opacity: 0.5; }
.results { color: red; }
.clear { clear: both; }
.good { color: #080; }
.bad { color: #800; }
.bootstrap_buttons button { margin: 5px 0 0 0; }
#main .ui-accordion-header a, #main .ui-accordion-content { font-size: 14px; }
#banner small { font-size: 16px; vertical-align: super; }
.accordion { position: relative; }
.accordion .accordion-link { position: absolute; right: 1%; margin-top: 16px; z-index: 1; width: 12px; height: 12px;}
.accordion .accordion .accordion-link { margin-top: 12px; } /* nested accordion */
.tablesorter .accordion .accordion-link { margin-top: 11px; }
.remark, .error { font-weight: bold; color: red; font-size: 18px; }
table th.nobold { font-weight: normal; }
table th a { text-decoration: underline; color: #000; }
#group .ui-slider,#align .ui-slider { width: 100px; height: 3px; font-size: 0.8em; display: inline-block; margin-left: 10px; }
#group .demo-label,#align .demo-label { display: inline-block; min-width: 125px; }
#align .demo-label { display: inline-block; min-width: 150px; }
@media all and (max-width: 700px) {
    table.compatibility, div.box { float: none; width: 100%; margin: 0; }
}