.bg-auth {
background-size: cover;
background: url('../../img/signupbg.jpg') no-repeat center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
.passnew {
padding-top:150px;
}
.passnew label {
float:left;
font:1.1em 500;
}
.passnew-form {
background: #ffffff;
padding: 20px 30px 30px 30px;
}
.passnew-form .input-group{
padding-bottom:20px;
}
.passnew-form .input-group i{
float: right;
margin-right: 10px;
margin-top: -30px;
position: relative;
z-index: 2;
}

@media (max-width: 768px) {
.passnew {
background:none;
}
.passnew-form {padding: 20px 30px 70px 30px;}
}  


