/*html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: none;
    overflow:  hidden;
}*/
/*.search-block {
    width: 400px;
    float: left;
}
.search-block input {
    height:20px;
}*/

#map-index.col-lg-9 {
    width: 78%;
}

#map-main canvas.ol-unselectable {
	min-height: 700px !important;
}
#map-search-zakaz canvas.ol-unselectable {
    max-height: 350px !important;
}
div#map {
    width: 100%;
    /*height: 100%;*/
    /*height: 800px;*/
    /*position: absolute;*/
}

/**блок слева и справа*/
/*.left-block {
    float: left;
    height:100%;
}*/
.right-block {
    float: right;
    /*height:90%;*/
}
/*
.left {
    position: absolute;
    float: left;
    *//*background-image: url(../img/bg.png);*//*
    *//*width: 300px;*//*
    left: 0;
    z-index: 2;
    min-height: 70%;
}*/
.right {
    margin-right: 10px;
    position: absolute;
    float: right;
    /*background-image: url(../img/bg.png);*/
    width: 300px;
    right: 0;
    z-index: 3;
    max-height: 70%;
    text-align: left;
}
/*.left-block {
    background-image: url(../img/bg.png);
    position: absolute;
    width: 275px;
    z-index: 2;
    *//*background: #f90;*//*
    color: #fff;
    left: 0;
    opacity: .80;
    display: none;
    overflow-y: overlay;
}*/
.right-block {
    background-image: url(../../img/bg.png);
    /*position: absolute;*/
    width: 275px;
    z-index:3;
    /*background:#f90;*/
    /*background:#fff;*/
    color:#fff;
    right:0;
    opacity: .80;
}

/*.btn-slide-left-block {
    *//*background: url(../img/arrow.png);*//**//* no-repeat right -50px;*//*
    text-align: center;
    width: 25px;
    height: 25px;
    *//*padding: 10px 10px 0 0;*//*
    *//*margin: 0 auto;*//*
    *//*position:absolute;*//*
    display: block;
    float:right;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0,0,0,0.6);
}*/
.btn-slide-right-block {
    /*background: url(../img/arrow.png);*//* no-repeat right -50px;*/
    text-align: center;
    width: 25px;
    height: 25px;
    /*padding: 10px 10px 0 0;*/
    /*margin: 0 auto;*/
    position:absolute;
    display: block;
    float:left;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0,0,0,0.6);
}


/*.f-panel {
    margin: 5px;
}*/

.layers-select {
    margin: 5px 15px;
}
.layers-select fieldset label {
    margin:0;
    font-weight:normal;
}
.layers-select li > span {
    cursor: pointer;
    font-weight:700;
}

.layers-select li {
    list-style-type: none;
}


/*openlayers elements*/
/*.ol-zoom.ol-unselectable.ol-control {
    margin-left:25px;
}*/
/*
#tools {
    pointer-events:none;
}*/
