.bg-auth {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background: url('../img/signupbg.jpg') no-repeat center;
}
.authorization {
	padding-top:150px;
	label {
		padding-top: 5px;
	}
	.pad-lr-0 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.input-group {
		.form-control {
			margin-bottom:10px;
		}
	}
}
.authorization-form {
	background: @white;
	padding: 0 30px 30px 30px;
}