@font-face {
  font-family: Museo;
  src: url("../fonts/MUSEOSANSREGULAR.TTF");
}
@font-face {
  font-family: GoodCur;
  src: url("../fonts/GOODCYR-WIDEBLACK.TTF");
}
.spacer-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.spacer-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.spacer-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.spacer-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.font-4 {
  font-size: 2em;
}
.font-3 {
  font-size: 3em;
}
.font-5 {
  font-size: 1.5em;
}
.btn {
  white-space: normal;
}
.arrow {
  cursor: pointer;
}
.panel-arrow {
  text-align: right;
  font-size: 2em;
}
.row-eq-height {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
@media (max-width: 767px) {
  .row-eq-height {
    flex-direction: column;
  }
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
html {
  position: relative;
  min-height: 100%;
}
body .main {
  background: red;
}
body {
  height: 100%;
  margin: 0 auto 170px  auto;
  font-family: Museo, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: GoodCur, sans-serif;
  color: #425261;
}
body .Museo-headers h1,
body .Museo-headers h2,
body .Museo-headers h3,
body .Museo-headers h4,
body .Museo-headers h5,
body .Museo-headers h6 {
  font-family: Museo, sans-serif;
}
.container {
  padding-top: 40px;
}
.panel-primary {
  border-color: #70a2c9;
}
.panel-primary .panel-heading {
  background: #70a2c9;
  border-color: #70a2c9;
}
/*HEADER*/
.logo-cont {
  height: 70px;
  background: #70a2c9;
}
.logo-cont .logo {
  max-width: 1200px;
  margin: auto;
  height: 70px;
  background: url('../img/logo-main.png') no-repeat 2% 0;
  background-size: contain;
}
.item > img {
  width: 100%;
}
.brand {
  font-size: 2em;
}
.container-fluid {
  background: white;
}
.navbar-collapse {
  max-width: 1220px;
  margin: auto;
}
.icon-bar {
  background: black;
}
.nav a {
  color: gray;
  text-transform: uppercase;
  background: white;
}
.list-group a {
  background: #f2f2f2;
}
.navbar {
  position: fixed;
  border: none;
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 500;
}
.nav-icon {
  font-size: 20px!important;
}
.navbar-right li {
  border-right: solid #f2f2f2 1px;
}
.navbar-collapse {
  background: white;
  position: relative;
}
.navbar-header {
  background: white;
}
.header--hidden {
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
}
.open_search {
  width: 100% !important;
  display: none;
  position: absolute;
  z-index: 10000;
  height: 46px;
  top: 0;
  background: white;
  padding-top: 10px;
  padding-left: 10%;
}
.open_search input {
  width: 80%;
}
.open_search i {
  vertical-align: middle;
  padding-left: 10%;
}
/*HEADER*/
footer {
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  border: none;
  color: white;
  background: #425261;
}
footer a {
  color: white;
}
footer a:hover {
  color: white;
}
footer h4 {
  text-transform: uppercase;
  color: #fff;
}
footer .footer-cont {
  max-width: 1160px;
  margin: auto;
}
footer .footer-logo {
  background: url('../img/logo-footer.png') no-repeat 97%;
  background-size: contain;
  height: 70px;
}
/*BRANDBOOK*/
.percent {
  position: relative;
  bottom: 70px;
}
.el {
  text-align: center;
}
.liner {
  margin: 0 -10px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 20px;
  border-left: solid 1px;
  border-right: solid 1px;
}
.liner .fa-angle-right {
  position: absolute;
  right: 2%;
}
.liner .fa-angle-left {
  position: absolute;
  left: 2%;
}
.au-cont {
  background: #f2f2f2;
}
.au-cont .au-head {
  border-bottom: solid gray 1px;
}
/*BRANDBOOK*/
/*MAIN PAGE*/
.search-toggle {
  width: 100%;
}
.search-container {
  background: #f2f2f2;
}
.search {
  /*.double-select{
        width: 50%;
        display: inline;
    }*/
}
.search input {
  margin: 0 0 5px 0;
}
.search .search-button {
  padding-top: 25px;
}
.auctions .nav-pills li.active a {
  background: #70a2c9;
}
.auctions h4 {
  color: #fff;
}
.auctions .places {
  background: #f2f2f2;
  padding: 0;
}
.auctions .places ul {
  height: 100%;
}
.auctions .places ul li {
  height: 100%;
}
.auctions .places ul li a {
  height: 100%;
}
.auctions .list-header {
  border: none;
}
.auctions .list-header i {
  font-size: 1em;
}
.auctions i {
  font-size: 2em;
}
.auctions .panel-footer {
  background: #70a2c9;
  cursor: pointer;
}
.auctions .panel-footer i {
  font-size: 1em;
}
.list-group .list-group-item i {
  font-size: 1em;
}
.list-group .au-status i {
  font-size: 1.5em;
}
/*MAIN PAGE*/
/*ACCOUNT*/
.account-menu {
  border-top: solid #f2f2f2 1px;
}
.account-quit li {
  border: none;
}
.passnew label {
  float: left;
  font: 1.1em 500;
}
.blankBtn {
  font-size: 1.2em;
  padding: 20px 10px;
}
.passnew-form {
  background: #fff;
  padding: 20px 30px 70px 30px;
}
.passnew-form .input-group {
  padding-bottom: 20px;
}
.passnew-form .input-group i {
  float: right;
  margin-right: 10px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}
.user-info {
  background: #f2f2f2;
}
.panel-heading h4 {
  color: #fff;
}
.messages-control {
  height: 55px;
}
.message {
  cursor: pointer;
}
.deleteLots {
  height: 40px;
  border-bottom: solid #f2f2f2 1px;
}
.lot {
  cursor: pointer;
  border-bottom: solid #f2f2f2 1px;
  margin-bottom: 10px;
}
.lot .img-cont {
  position: relative;
  margin-left: -10px;
}
.lot .add-fav {
  position: absolute;
  bottom: 0;
  left: 0;
  color: orange;
  background: #425261;
  font-size: 2.5em;
  padding: 2px 0 0 0;
}
.lot .lot_id {
  font-size: 1.5em;
}
.lot .lot_price {
  color: #70a2c9;
  font-size: 2em;
}
.lot .lot_brand {
  font-size: 2em;
}
.lot .lot_values {
  font-weight: bold;
  font-size: 1.5rem;
}
.lot .lot_values span {
  font-weight: normal;
}
.lot:hover {
  background: #f2f2f2;
}
.au-date-cont {
  color: white;
  background: #70a2c9;
}
.au-date-cont .au_time {
  color: orange;
}
.balance--alert {
  border-color: #7c2d1b;
}
.balance--alert .notice {
  padding: 10px;
  background: #7c2d1b;
  display: block;
  color: #fff;
  text-align: center;
}
.balance--alert .panel-heading {
  background: #7c2d1b;
}
.balance--alert .panel-heading h4 {
  display: inline-block;
}
.notice {
  display: none;
}
.msg {
  margin-right: 20px!important;
}
.check-all {
  margin-right: 35px!important;
}
.unread {
  color: orange;
}
.read {
  visibility: hidden;
}
/*ACCOUNT*/
/*MEDIA*/
@media (max-width: 768px) {
  body {
    margin: 0 auto 250px  auto;
  }
  footer {
    padding: 0;
    height: auto;
  }
  .container {
    padding-top: 100px;
  }
  .grid-col {
    margin-bottom: 20px;
  }
  .f .percent {
    display: block;
  }
  .percent {
    display: none;
  }
  /*LANDING PAGE*/
  /*LANDING PAGE*/
  .user-info {
    margin-bottom: 10px;
  }
  .lot_price {
    text-align: left;
  }
  .notice {
    margin: 10px 0;
  }
}
/*MEDIA*/
