@font-face {
    font-family: Museo;
    src: url("../fonts/MUSEOSANSREGULAR.TTF");
}
@font-face {
    font-family: GoodCur;
    src: url("../fonts/GOODCYR-WIDEBLACK.TTF");
}
@title-size: 2.3em;
@h3-size:1.3em;
@menu-icon-size:25px;
@arrow-size:30px;
@white: #fff;
@mainColor:#70a2c9;//#52A4CC old  5d9ac0
@mainShad:#4e99bf;// #4E98C0
@mainDark:#425261;

@fontDark:#375162;
@gray: #f2f2f2;
@darkGray: #DADEE1;
@error: #7c2d1b;//b92c28

@main-font:Museo,sans-serif;
@main-font--bold:MuseoBold,sans-serif;
@title-font:GoodCur,sans-serif;
//variables

.spacer-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.spacer-20 {
    padding-top: 20px;
    padding-bottom: 20px;

}
.spacer-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.spacer-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.font-4 {
    font-size: 2em;
}
.font-3 {
    font-size: 3em;
}
.font-5 {
    font-size: 1.5em;
}
.btn{
    white-space: normal;
}
.arrow{
    cursor: pointer;
}
.panel-arrow{
    text-align: right;
    font-size: 2em;
}
//flex row for equal height its elements
.row-eq-height{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
@media (max-width: 767px) {
    .row-eq-height{
        flex-direction: column;
    }
}
//flex row
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
//variables

//main styles
html{
    position: relative;
    min-height: 100%;
}
body .main{
    background: red;
}
body{
    height: 100%;
    margin: 0 auto 170px  auto;
    font-family:@main-font;
    h1,h2,h3,h4,h5,h6{
        font-family:@title-font;
        color: @mainDark;
    }
    .Museo-headers{
        h1,h2,h3,h4,h5,h6{
            font-family: @main-font;

        }

    }
}
.container{
    padding-top:180px;
}
.panel-primary{
    border-color: @mainColor;
    .panel-heading{
        background: @mainColor;
        border-color: @mainColor;
    }
}

//main styles

/*HEADER*/
.logo-cont{
    height:70px;
    background: @mainColor;
    .logo{
        max-width:1200px;
        margin:auto;
        height:70px;
        background: url('../img/logo-main.png') no-repeat 2% 0;
        background-size: contain;
    }
}
.item > img{
    width: 100%;
}
.brand{
    font-size: 2em;
}
.container-fluid{
    background:white;
}
.navbar-collapse{
    max-width: 1220px;//1160
    margin: auto;
}
.icon-bar{
    background: black;
}
.nav{
    a {
        color: gray;
        text-transform: uppercase;
        background: white;
       // height: 60px;
    }

}
.list-group a{
    background: #f2f2f2;
}
.navbar{
    position:fixed;
    border: none;
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 500;

}
.nav-icon{
    font-size: 20px!important;
}
.navbar-right{
    li{
        border-right: solid #f2f2f2 1px;
    }
}
.navbar-collapse{
    background: white;
    position: relative;
}
.navbar-header{
    background:white;
}
.header--hidden
{
    -webkit-transform: translateY( -110% );
    -ms-transform: translateY( -110% );
    transform: translateY( -110% );
}
.open_search{
    width: 100% !important;
    display: none;
    position: absolute;
    z-index: 10000;
    height: 46px;
    top: 0;
    background: white;
    padding-top: 10px;
    padding-left: 10%;
    input{
        width: 80%;
    }
    i{
        vertical-align: middle;
        padding-left: 10%;
    }
}
/*HEADER*/

//Footer
footer{
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    border: none;
    color: white;
    background: @mainDark;
    a{
        color: white;
        &:hover{
            color: white;
        }
    }
    h4{
        text-transform: uppercase;
        color: @white;
    }
    .footer-cont{
        max-width: 1160px;
        margin: auto;
    }
    .footer-logo{
        background: url('../img/logo-footer.png') no-repeat 97%;
        background-size: contain;
        height: 70px
    }
}
//Footer


/*BRANDBOOK*/
.percent{
    position: relative;
    bottom: 70px;
}
.el{
    text-align: center;
}
.liner {
    margin: 0 -10px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 20px;
    border-left: solid 1px;
    border-right: solid 1px;
    .fa-angle-right{
        position: absolute;
        right: 2%;
    }
    .fa-angle-left{
        position: absolute;
        left: 2%;
    }
}

.au-cont{
    background: #f2f2f2;
    .au-head{
        border-bottom: solid gray 1px;

    }
}
/*BRANDBOOK*/

/*MAIN PAGE*/
.search-toggle{
    width: 100%;
}
.search-container{
    background: @gray;
    //background: lighten(@mainColor, 5%)
    //background: @mainColor;
}
.search{
    label{

    }
    input{
        margin: 0 0 5px 0;
    }
    .search-button{
        padding-top: 25px;
    }
    /*.double-select{
        width: 50%;
        display: inline;
    }*/
}

.auctions{
    .nav-pills{
        li.active{
            a{
                background: @mainColor;
            }
        }
    }
    h4{
        color:@white;
    }
    .places{
        background: @gray;
        //height: 40px;
        padding: 0;
        ul{
            height: 100%;
            li{
                height: 100%;
                a{
                    height: 100%;
                }
            }
        }
    }
    .list-header{
        border: none;
        i{
            font-size:1em;
        }
    }
    i{
        font-size: 2em;
    }
    .panel-footer{
        background: @mainColor;
        cursor:pointer;
        i{
            font-size: 1em;
        }
    }
}
.list-group{
    .list-group-item{
        i{
            font-size: 1em;
        }
    }
    .au-status{
        i{
            font-size: 1.5em;
        }

    }
}

/*MAIN PAGE*/

/*ACCOUNT*/
.account-menu{
    border-top: solid @gray 1px;
}
.account-quit{
    li{
        border: none;
    }
}
// change password
.passnew {
    label {
        float:left;
        font:1.1em 500;
    }
}
.blankBtn{
    font-size: 1.2em;
    padding: 20px 10px;
}
.passnew-form {
    background: @white;
    padding: 20px 30px 70px 30px;
    .input-group {
        padding-bottom:20px;
        i {
            float: right;
            margin-right: 10px;
            margin-top: -30px;
            position: relative;
            z-index: 2;
        }
    }
}
//change password
.user-info{
    background: @gray;
}
.panel-heading{
    h4{
        color:@white;
    }

}
.messages-control{
    height: 55px;
}
.message{
    cursor: pointer;
}
.deleteLots{
    height: 40px;
    border-bottom: solid @gray 1px;
}
.lot{
    cursor: pointer;
    border-bottom: solid @gray 1px;
    margin-bottom: 10px;

    .img-cont{
        position: relative;
        margin-left: -10px;
    }
    .add-fav{
        position: absolute;
        bottom: 0;
        left: 0;
       // height: 25px;
        color: orange;
        background: @mainDark;
        font-size: 2.5em;
        padding: 2px 0 0 0;

    }
    .lot_id{
        font-size: 1.5em;
    }
    .lot_price{
        color: @mainColor;
        font-size: 2em;
    }
    .lot_brand{
        font-size: 2em;
    }
    .lot_values{
        font-weight: bold;
        font-size: 1.5rem;
        span{
            font-weight: normal;
        }
    }
    &:hover{
        background: @gray;
        //border-top: solid 1px @mainColor;
        //border-bottom: solid 1px @mainColor;
    }
}
.au-date-cont{
    color: white;
    background: @mainColor;
    .au_date{

    }
    .au_time{
        color: orange;
    }

}
.balance--alert{
    border-color: @error;

    .notice{
        padding: 10px;
        background: @error;
        display: block;
        color: @white;
        text-align: center;
    }
    .panel-heading{
        background: @error;
        h4{
            display: inline-block;
        }
    }
}
.notice{
    display: none;
}
.msg{
    margin-right: 20px!important;
}
.check-all{
    margin-right: 35px!important;
}
.unread{
    color: orange;
}
.read{
    visibility: hidden;
}

/*ACCOUNT*/

/*MEDIA*/
@media (max-width: 768px) {
    body{
        margin: 0 auto 250px  auto;
    }
    footer{
        padding: 0;
        height: auto;
    }
    .container{
        padding-top:100px;
    }

    .grid-col{
        margin-bottom: 20px;
    }
    .f{
        .percent{
            display: block;
        }
    }
    .percent{
        display: none;
    }

    /*LANDING PAGE*/
    .search{
        label{

        }
    }
    /*LANDING PAGE*/

    //*ACCOUNT*//
    .user-info{
        margin-bottom: 10px;
    }
    .lot_price{
        text-align: left;
    }
    .notice{
        margin:10px 0;
    }
    //*ACCOUNT*//
}
/*MEDIA*/
