.bg-auth {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background: url('../img/signupbg.jpg') no-repeat center;
}
.passnew {
	padding-top:150px;
	label {
		float:left;
		font:1.1em 500;
	}
}
.passnew-form {
	background: @white;
	padding: 20px 30px 30px 30px;
	padding: 20px 30px 70px 30px;
	.input-group {
		padding-bottom:20px;
		i {
			float: right;
			margin-right: 10px;
			margin-top: -30px;
			position: relative;
			z-index: 2;
		}
	}
}
@media {
	(max-width {
		&:768px) {
			.passnew { background:none;
		}
	}
}