.bg-auth {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background: url('../img/signupbg.jpg') no-repeat center;
}
.signup {
	padding-top:150px;
	.btn-info {
		font-size:1em;
	}
}
.signup-form {
	background: @white;
	padding: 0 30px 30px 30px;
	h3 {
		margin-bottom: 20px;
	}
	.alert-danger {
		border-radius: 0;
		border: 0px;
		font-size: 0.9em;
		margin: 0 -30px 10px -30px;
	}
	.input-group {
		display: block !important;
		.form-control {
			margin-bottom:10px;
		}
	}
	.checkbox-inline {
		margin-bottom: 10px;
		padding-left:10px;
	}
	.signup_cap_inp {
		border:none;
		height:40px;
	}
	.captcha-form {
		border: 1px solid @darkGray;
		height:50px;
		margin-bottom: 10px;
		padding:5px;
		img {
			border-right: 1px solid @darkGray;
			float: left;
			padding-right:10px;
		}
	}
}
@media {
	(max-width {
		&:768px) {
			.signup-form h3{ padding-top: 20px;
		}
	}
}





			border-right: 1px solid @darkGray;
			float: left;
			padding-right:10px;
		}
	}
}
@media {
	(max-width {
		&:768px) {
			.signup { margin-bottom: -250px;
		}
	}
}
				
				
				
				