.bg-auth {
background-size: cover;
background: url('../img/signupbg.jpg') no-repeat center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
.signup {
padding-top:150px;
}
.signup-form {
background: #ffffff;
padding: 0 30px 30px 30px;
}
.signup-form  h3{
margin-bottom: 20px;
}	
.signup-form .alert-danger {
border-radius: 0;
border: 0px;
font-size: 0.9em;
margin: 0 -30px 10px -30px;
}
.signup-form .input-group {
display: block !important;
}
.signup-form .input-group .form-control {
margin-bottom:10px;
}
.signup-form .checkbox-inline {
padding-left:10px;
margin-bottom: 10px;
}
.signup-form .signup_cap_inp {
height:40px;
border:none;
}
.signup-form .captcha-form {
height:50px;
padding:5px;
border: 1px solid #DADEE1;
margin-bottom: 10px;
}
.signup-form .captcha-form  img{
padding-right:10px;
border-right: 1px solid #DADEE1;
float: left;
}


@media (max-width: 768px) {
.signup-form  h3{
padding-top: 20px;
}
.signup .btn-info{
    font-size:1em;
}
}
