.marg-btn-r{
    margin-right: 10px;
}

.marg-btn-l{
    margin-left: 10px;
}

.marg-btn-l{
    margin-bottom: 15px;
}

.marg-top6{
    margin-top: 60px;
}

.right-div{
    text-align: right;
}

.center-element{
    text-align: center;
}

.container-modal{
    width: 550px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row-top{
    margin-top: 15px;
}

.body-modal{
    background: white;
    padding: 10px;
    border-color: #CCCED0;
    border-style: solid;
    border-width: 1px;
}

.body-modal-admшт{
    background: white;
    padding: 3%;
    padding-left: 3%;
    border-color: #CCCED0;
    border-style: solid;
    border-width: 1px;
}

.body-modal-books{
    background: white;
    padding: 2px;
    border-color: #CCCED0;
    border-style: solid;
    border-width: 1px;
}

.modal-footer-color{
    background: aliceblue;
}

.main-color{
    color: #115C9E;
}

.main-background-color{
    background-color: #19719e;
}

.font_small{
    font-size: small;
}

.font_smaller{
    font-size: smaller;
}

.font_initial{
    font-size: initial;
}

.modal-dialog-size{
    width: 50%;
}

.modal-dialog-size-container{
    width: 93%;
}

.modal-dialog-size-container-books{
    width: 100%;
}

.size-span-lg{
    font-size: x-large;
}


.btn-rad{
    border-radius: 7px;
}

.btn-size-main{
    width: 11.7%;
    height: 52px;
}

.btn-size-nav{
    height: 38px;
}

.text-style-table{
    font-size: large;
    font-weight: 500;
}

.span-close-color{
    color: #CC0000;
}

.span-add-color{
    color: #169108;
}

.input-group{
    border: gainsboro;
    border-width: 1px;
    border-style: solid;
    margin-top: 10px;
    margin-left: -10px;
    padding: 0px;
}

.input-group-checkbox{
    margin-top: 10px;
    margin-left: -10px;
    padding: 0px;
}

.padd-left{
    padding-left: 10px;
}

.lable-group{
    padding-bottom: 5px;
    color: #CCCED0;
}
/*
.btn-success {
    background-color: #199073;
}*/

.tab_input_width {
    width: 100%;
}

#fade-load {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#modal-load {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 64px;
    height: 64px;
    padding:30px 15px 0px;
    border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}

.cursor-select:hover{
    background-color: #97bef3;
    cursor: pointer;
}

.cursor-pointer{
    cursor: pointer;
}

.selected-tr{
    background-color: rgba(116, 232, 0, 0.26);
}

.display-none{
    display: none;
}

.display-visible{
    display: block;
}

.display-visible-2{
    display: run-in;
}

.form-login-tb{
    margin-bottom: 50px;
    margin-top: 50px;
}

.form-login-rl{
    margin-left: 200px;
    margin-right: 200px;
}

.div-serch{
    border: 1px double #c5cddc;
    margin-top: 1%;
}

.select-serch{
    width: 100%;
    margin-top: 5%;
}

.select-search-1{
    width: 100%;
    margin-top: 1%;
}

.select-serch-half{
    width: 50%;
    margin-bottom: 5%;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.4;
}
.printer{
    width: 4%;
}

.text-header-modal{
    font-size: medium;
    text-align: center;
}

.selected-tr {
    background-color: #66afe9;
}

.tbody-hover > tr:hover {
    background-color: #66afe9;
    color: #fff;
}

.table > tbody > tr > td,
.table > thead > tr > td{
    padding: 5px;
}

.ui-widget-content{
    border: 0px;
    background-color: inherit;
    min-width: 500px;
}

.download-background{
    pointer-events: none;
    opacity: 0.4;
}

.inf-span{
    color: #4f8dbb;
    background-color: #e3f0f9;
}

.lage-main-div{
    font-size: large;
    text-align: center;
    background-color: #d3e1f1;
}

.select-radio{
    font-size: larger;
    color: #317bb1;
}

.A{
    border: none;
    width: 100%;
    padding: 0;
    height: 100%;
    white-space: normal;
    resize: none;
}
.selected-tr {
    background-color: #66afe9;
}

.tbody-hover > tr:hover {
    background-color: #66afe9;
    color: #fff;
}

.table > tbody > tr > td,
.table > thead > tr > td{
    padding: 5px;
}

.row-half{
    width: 100%;
    height: 50%;
}

.highlight {
    border: 1px solid #e1e1e8;
}

.mini-title {
    margin-left: 1%;
    font-size: 12px;
}

.disabled-div-css{
    pointer-events:none;
    opacity : 0.5;
}


.img-nca {
    width: 25%;
    margin-top: 10px;
}

#footer-index {
    margin: 0;
    margin-top: 0.5%;
}

.footer-class{
    background: linear-gradient(to bottom, #eaeaea 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 1px solid #d9dfe3;
    left: 0;
    margin: 0 auto;
    /* min-width: 1024px; */
    padding: 6px 0;
    position: relative;
    width: 100%;
}